<!DOCTYPE html>
<html>

<head>
    <title>Upitnik za procjenu rizika</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="logo.png">
</head>

<body>
    <header>
        <h1>Anketa za procjenu rizika od moždanog udara</h1>
    </header>

    <main>

        <center>
            <img src="logo.png" alt="reddresslogo" height="400" width="200">
        </center>

        <center>
            <h1 style="color: black;">Završili ste s ispunjavanjem upitnika!</h1>

            <h2>Vaš rezultat: </h2>

        </center>

        <center>
            <button type="submit">Preuzmite rezultate ankete</button>
        </center>

    </main>
</body>

</html>