<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Upitnik za procjenu rizika</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="logo.png">
</head>

<body>
<header>
    <h1>Anketa za procjenu rizika od moždanog udara</h1>
</header>

<main>

    <center>
        <img src="logo.png" alt="reddresslogo" height="400" width="200">
    </center>

    <center>
        <h1 style="color: black;">Dobro došli!</h1>

        <h2>Za rješavanje ove ankete potrebno je odvojiti 10 minuta</h2>
        <h3>Neka od pitanja u anketi uzimaju u obzir Vaše nalaze te Vas molimo da pripremite sljedeće: </h3>
        <h3>Rezultat mjerenja tlaka (sistolički i dijastolički tlak te otkucaje srca), ukupan kolesterol i LDL
            kolesterol</h3>
        <h3> Ukoliko nemate navedene rezultate, bit će ponuđena opcija Ne znam. Odabirom te opcije, smanjuje se
            točnost rezultata. </h3>
    </center>

    <form action="/showpage1">
        <input type="hidden" name="recordId" th:value="${record.id}">
        <button type="submit">Započni anketu</button>
    </form>
    <center>

    </center>

</main>
</body>

</html>