<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="logo.png">

    <title>Upitnik za procjenu rizika od moždanog udara</title>
</head>

<body>
    <header>
        <h1>Upitnik za procjenu rizika od moždanog udara</h1>
    </header>
    <main>
        <form>
            <h2>Bolujete li od migrena?</h2>
            <label><input type="radio" name="migraine" value="no"> Ne</label>
            <label><input type="radio" name="migraine" value="notwoyears"> Nisam imala migrenu već 2 godine</label>
            <label><input type="radio" name="migraine" value="coupletimesayear"> Javlja mi se nekoliko puta
                godišnje</label>
            <label><input type="radio" name="migraine" value="onceamonth"> Javlja mi se barem jednom mjesečno</label>
            <label><input type="radio" name="migraine" value="often"> Često imam migrene</label>

            <h2>Koristite li hormonalnu terapiju?</h2>
            <label><input type="radio" name="hormonaltherapy" value="no"> Ne</label>
            <label><input type="radio" name="hormonaltherapy" value="stoppedbeforefiveyears"> Prestala prije 5 i više
                godina</label>
            <label><input type="radio" name="hormonaltherapy" value="stoppedmorethanayear"> Prestala između 5 i godinu
                dana</label>
            <label><input type="radio" name="hormonaltherapy" value="useitlessthanfiveyears"> Koristim hormonalnu
                terapiju manje od 5 godina</label>
            <label><input type="radio" name="hormonaltherapy" value="useitmorethanfiveyears"> Koristim terapiju 5 i više
                godina</label>

            <h2>Da li je netko u Vašoj obitelji bolovao od eklampsije?</h2>
            <label><input type="radio" name="eclampsia" value="no"> Nema</label>
            <label><input type="radio" name="eclampsia" value="onecousin"> 1 sestrična</label>
            <label><input type="radio" name="eclampsia" value="twocousins"> 2 sestrične</label>
            <label><input type="radio" name="eclampsia" value="mother"> Majka</label>
            <label><input type="radio" name="eclampsia" value="sister"> Sestra</label>

            <h2>Jeste li trudni?</h2>
            <label><input type="radio" name="pregnant" value="yes"> Da</label>
            <label><input type="radio" name="pregnant" value="no"> Ne</label>

            <button type="submit">Sljedeće</button>
        </form>
    </main>
</body>

</html>