<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="logo.png">

    <title>Upitnik za procjenu rizika od moždanog udara</title>
</head>

<body>
    <header>
        <h1>Upitnik za procjenu rizika od moždanog udara</h1>
    </header>
    <main>
        <form action="/page9submit">
            <h2>Kakva je Vaša tjelesna aktivnost?</h2>
            <label><input type="radio" name="activity" value="active"> 3-4- tjedno 30 -40 min, fizički posao</label>
            <label><input type="radio" name="activity" value="moderatelyactive"> 2-3 puta tjedno, fizički posao</label>
            <label><input type="radio" name="activity" value="lessactive"> 2-3-puta tjedno, sjedeći posao</label>
            <label><input type="radio" name="activity" value="notveryactive"> Jednom mjesečno, sjedeći posao</label>
            <label><input type="radio" name="activity" value="notactive"> Ne krećem se, sjedeći posao</label>

            <input type="hidden" name="recordId" th:value="${record.id}">

            <button type="submit">Sljedeće</button>
        </form>
    </main>
</body>

</html>