<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="logo.png">

    <title>Upitnik za procjenu rizika od moždanog udara</title>
</head>

<body>
    <header>
        <h1>Upitnik za procjenu rizika od moždanog udara</h1>
    </header>
    <main>
        <form>
            <h2>Kolika Vam je razina ukupnog kolesterola(mmol/L)?</h2>
            <label><input type="radio" name="cholesterol " value="dontknow"> Neznam</label>
            <label><input type="radio" name="cholesterol" value="lessthan5"> manje od 5 mmol/L</label>
            <label><input type="radio" name="cholesterol" value="lessthan6"> manje od 6 mmol/L</label>
            <label><input type="radio" name="cholesterol" value="lessthan8"> manje od 8 mmol/L</label>
            <label><input type="radio" name="cholesterol" value="lessthan9"> manje od 9 mmol/L</label>

            <h2>Kolika Vam je razin LDL kolesterola (mmol/L)?</h2>
            <label><input type="radio" name="LDL" value="lessthanfive"> Neznam</label>
            <label><input type="radio" name="LDL" value="fivetoten"> manje od 3 mmol/L</label>
            <label><input type="radio" name="LDL" value="tentotwenty"> manje od 4 mmol/L</label>
            <label><input type="radio" name="LDL" value="twentytothirty"> manje od 5 mmol/L</label>
            <label><input type="radio" name="LDL" value="morethanthirty"> manje od 6 mmol/L</label>

            <button type="submit">Sljedeće</button>
        </form>
    </main>
</body>

</html>