<!DOCTYPE html>
<html>

<head>
    <title>Upitnik za procjenu rizika</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

<input>
    <header>
        <h1>Upitnik za procjenu rizika</h1>
    </header>
    <main>
        <form>
            <h2>Question 1: What is your gender?</h2>
            <label><input type="radio" name="gender" value="male"> Male</label>
            <label><input type="radio" name="gender" value="female"> Female</label>
            <button type="submit" formaction="age.html">Next</button>

        </form>
    </main>
</body>

</html>