<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="logo.png">

    <title>Upitnik za procjenu rizika od moždanog udara</title>
</head>

<body>
    <header>
        <h1>Upitnik za procjenu rizika od moždanog udara</h1>
    </header>
    <main>
        <form action="/page13submit">
            <h2>Da li liječite svoju kroničnu bolest?</h2>
            <label><input type="radio" name="chronic" value="none"> Nemam kroničnih bolesti</label>
            <label><input type="radio" name="chronic" value="yes"> Da</label>
            <label><input type="radio" name="chronic" value="no"> Ne</label>

            <h2>Da li uzimate lijekove protiv zgrušnjavanja?</h2>
            <label><input type="radio" name="medication" value="yes"> Da</label>
            <label><input type="radio" name="medication" value="no"> Ne</label>

            <input type="hidden" name="recordId" th:value="${record.id}">

            <button type="submit">Završi anketu</button>
        </form>
    </main>
</body>

</html>