<!DOCTYPE html>
<html>

<head>
    <title>Upitnik za procjenu rizika</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <header>
        <h1>Upitnik za procjenu rizika</h1>
    </header>
    <main>
        <form>
            <h2>Question 4: Do you smoke?</h2>

            <label><input type="radio" name="smoking" value="yes"> Yes</label>
            <label><input type="radio" name="smoking" value="no"> No</label>

            <h2>Question 5: How many cigarettes do you smoke per day?</h2>
            <label><input type="radio" name="cigarettes" value="none"> None</label>
            <label><input type="radio" name="cigarettes" value="1-5"> 1-5</label>
            <label><input type="radio" name="cigarettes" value="6-10"> 6-10</label>
            <label><input type="radio" name="cigarettes" value="11-20"> 11-20</label>
            <label><input type="radio" name="cigarettes" value="21+"> 21+</label>

            <button type="submit" formaction="#">Submit</button>
        </form>
    </main>
</body>

</html>