<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="logo.png">

    <title>Upitnik za procjenu rizika od moždanog udara</title>
</head>

<body>
    <header>
        <h1>Upitnik za procjenu rizika</h1>
    </header>
    <main>
        <form action="/page5_weekly_smoking">
            <h2>Koliko cigareta pušite tjedno?</h2>
            <label><input type="radio" name="weeklycigarettes" value="lessthanfive"> manje od 5 cigareta</label>
            <label><input type="radio" name="weeklycigarettes" value="fivetoten"> 5-10 cigareta</label>
            <label><input type="radio" name="weeklycigarettes" value="tentotwenty"> 10-20 cigareta</label>
            <label><input type="radio" name="weeklycigarettes" value="twentytothirty"> 20-30 cigareta</label>
            <label><input type="radio" name="weeklycigarettes" value="morethanthirty"> više od 30 cigareta</label>

            <input type="hidden" name="recordId" th:value="${record.id}">

            <button type="submit">Sljedeće</button>
        </form>

        <span>Score: </span> <span th:text="${score}"> Mirko Mirić </span>
    </main>
</body>

</html>