<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="logo.png">

    <title>Upitnik za procjenu rizika od moždanog udara</title>
</head>

<body>
<header>
    <h1>Upitnik za procjenu rizika od moždanog udara</h1>
</header>
<main>

    <h2>Pitanja za utvrđivanje obiteljske anamneze</h2>

    <form action="/page10_anamnesis">
        <h2>Da li netko u Vašoj obitelji ima cerebrovaskularne bolesti (CV)?
        </h2>
        <label><input type="radio" name="CV" value="noCV"> Nema CV bolesti</label>
        <label><input type="radio" name="CV" value="onerelative"> 1 rođak sa CV bolesti</label>
        <label><input type="radio" name="CV" value="tworelatives"> 2 rođaka sa CV bolesti</label>
        <label><input type="radio" name="CV" value="threerelativesmorethansixty"> 3 rođaka sa CV bolesti koji su
            stariji od 60 godina</label>
        <label><input type="radio" name="CV" value="threerelativeslessthansixty"> 3 rođaka koji su mlađi od 60
            godina</label>

        <h2>Da li Vi ili netko u Vašoj obitelji ima šećernu bolest?</h2>
        <label><input type="radio" name="diabetes" value="none"> Nemam</label>
        <label><input type="radio" name="diabetes" value="onerelative"> 1 rođak (drugo koljeno)</label>
        <label><input type="radio" name="diabetes" value="tworelatives"> 2 rođaka(drugo koljeno)</label>
        <label><input type="radio" name="diabetes" value="yesaftertwenty"> Javila mi se šećerna bolest nakon 20.
            godine</label>
        <label><input type="radio" name="diabetes" value="yesbeforesixty"> Javila mi se šećerna bolest prije 60.
            godine</label>

        <h2>Da li imate fibrilaciju atrija (nepravilan rad srca)?</h2>
        <label><input type="radio" name="heart" value="normal"> Nemam</label>
        <label><input type="radio" name="heart" value="sometimes"> Povremeno lupanje srca</label>
        <label><input type="radio" name="heart" value="yesbutonmeds"> Da, ali koristim lijekove</label>
        <label><input type="radio" name="heart" value="allthetime"> Stalno</label>

        <h2>Da li netko u Vašoj obitelji ima povišen krvni tlak?</h2>
        <label><input type="radio" name="bloodpressure" value="no"> Ne</label>
        <label><input type="radio" name="bloodpressure" value="onerelative"> 1 rođak (drugo koljeno)</label>
        <label><input type="radio" name="bloodpressure" value="tworelatives"> 2 rođaka (drugo koljeno)</label>
        <label><input type="radio" name="bloodpressure" value="motherorfather"> Majka ili otac</label>
        <label><input type="radio" name="bloodpressure" value="motherandfather"> Majka i otac</label>

        <h2>Da li je netko u Vašoj obitelji imao moždani udar?</h2>
        <label><input type="radio" name="stroke" value="no"> Ne</label>
        <label><input type="radio" name="stroke" value="onerelative"> 1 rođak (drugo koljeno)</label>
        <label><input type="radio" name="stroke" value="tworelatives"> 2 rođaka (drugo koljeno)</label>
        <label><input type="radio" name="stroke" value="motherorfather"> Majka ili otac</label>
        <label><input type="radio" name="stroke" value="motherandfather"> Majka i otac</label>

        <input type="hidden" name="recordId" th:value="${record.id}">

        <button type="submit">Sljedeće</button>
    </form>
</main>
</body>

</html>