<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="logo.png">

    <title>Upitnik za procjenu rizika od moždanog udara</title>
</head>

<body>
    <header>
        <h1>Upitnik za procjenu rizika od moždanog udara</h1>
    </header>
    <main>
        <form action="/page12submit">
            <h2>Koliki je Vaš sistolički tlak (gornji)?</h2>
            <label><input type="radio" name="systolic" value="low"> manji od 120 mmhg</label>
            <label><input type="radio" name="systolic" value="normal"> do 130 mmHg</label>
            <label><input type="radio" name="systolic" value="slightlyelevated"> do 140 mmHg</label>
            <label><input type="radio" name="systolic" value="elevated"> do 170 mmHg</label>
            <label><input type="radio" name="systolic" value="high"> iznad 180 mmHg</label>

            <h2>Koliki je Vaš dijastolički tlak (donji)?</h2>
            <label><input type="radio" name="diastolic" value="low"> manji od 80 mmHg</label>
            <label><input type="radio" name="diastolic" value="normal"> 80-84 mmHg</label>
            <label><input type="radio" name="diastolic" value="slightlyelevated"> 85-89 mmHg</label>
            <label><input type="radio" name="diastolic" value="elevated"> 90-109 mmHg</label>
            <label><input type="radio" name="diastolic" value="high"> Iznad 110 mmHg</label>

            <h2>Broj otkucaja srca</h2>
            <label><input type="radio" name="heartbeat" value="low"> 60-74 otkucaja/min</label>
            <label><input type="radio" name="heartbeat" value="normal"> 74-90 otkucaja/min</label>
            <label><input type="radio" name="heartbeat" value="slightlyelevated"> 90-100 otkucaja/min</label>
            <label><input type="radio" name="heartbeat" value="elevated"> 100-120 otkucaja/min</label>
            <label><input type="radio" name="heartbeat" value="high"> veći od 120 otkucaja/min</label>

            <input type="hidden" name="recordId" th:value="${record.id}">

            <button type="submit">Sljedeće</button>
        </form>
    </main>
</body>

</html>