<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="logo.png">

    <title>Upitnik za procjenu rizika od moždanog udara</title>
</head>

<body>
    <header>
        <h1>Upitnik za procjenu rizika od moždanog udara</h1>
    </header>
    <main>
        <form>
            <h2>Kada ste prestali pušiti?</h2>
            <label><input type="radio" name="stoppedsmoking" value="thirtyyearsago"> prije 30 godina</label>
            <label><input type="radio" name="stoppedsmoking" value="twentyyearsago"> prije 20 godina</label>
            <label><input type="radio" name="stoppedsmoking" value="tentotwentyyears"> između 10 i 20 godina</label>
            <label><input type="radio" name="stoppedsmoking" value="fiveyearsago"> prije 5 godina</label>
            <label><input type="radio" name="stoppedsmoking" value="oneyearago"> prije godinu dana</label>

            <h2>Koliko ste cigareta dnevno pušili?</h2>
            <label><input type="radio" name="dailycigarettesquit" value="lessthanfive"> manje od 5 cigareta</label>
            <label><input type="radio" name="dailycigarettesquit" value="fivetoten"> 5-10 cigareta</label>
            <label><input type="radio" name="dailycigarettesquit" value="tentotwenty"> 10-20 cigareta</label>
            <label><input type="radio" name="dailycigarettesquit" value="twentytothirty"> 20-30 cigareta</label>
            <label><input type="radio" name="dailycigarettesquit" value="morethanthirty"> više od 30 cigareta</label>

            <button type="submit">Sljedeće</button>
        </form>
    </main>
</body>

</html>