<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="logo.png">

    <title>Upitnik za procjenu rizika od moždanog udara</title>
</head>

<body>
<header>
    <h1>Upitnik za procjenu rizika</h1>
</header>
<main>
    <form action="/page3_smoker">
        <h2>Jeste li pušač?</h2>
        <label><input type="radio" name="smoker" value="yes"> Da</label>
        <label><input type="radio" name="smoker" value="ex"> Bivši</label>
        <label><input type="radio" name="smoker" value="sometimes"> Povremeni</label>
        <label><input type="radio" name="smoker" value="no"> Ne</label>

        <input type="hidden" name="recordId" th:value="${record.id}">

        <button type="submit">Sljedeće</button>
    </form>
</main>
</body>

</html>