<!DOCTYPE html>
<html>

<head>
    <title>Upitnik za procjenu rizika</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <header>
        <h1>Upitnik za procjenu rizika</h1>
    </header>
    <main>
        <form>
            <h2>Question 2: What is your age?</h2>
            <input type="number" name="age">
            <h2>Question 3: What is your BMI index?</h2>
            <label><input type="radio" name="bmi" value="underweight"> Underweight</label>
            <label><input type="radio" name="bmi" value="normal"> Normal</label>
            <label><input type="radio" name="bmi" value="overweight"> Overweight</label>
            <button type="submit" formaction="smoking.html">Next</button>
        </form>
    </main>
</body>

</html>